::backdrop {
  background-color: var(--bgl);
  opacity: 0.7;
}

dialog {
  border: none;
  background-color: none;
  padding: 0;
}

div.error {
  background-color: white;
  border-style: dashed;
  border-width: 8px;
  border-color: red;
  padding: 8px;
}

form > div > div > label , form > div > label{
  display: block;
  margin-left:15px
}
label.regPieceCostInputs > input[type=number] {
  margin-left: 15px;
}
